@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the fake web shop</h1>
   
    <br>
     @if(User.Identity?.IsAuthenticated == false) {
    <p>
        <h3 style="opacity: .4">Please log in to unlock further functionality.</h3>
    </p>
    } else {
         <h2 style="opacity: .4">Imagine you could now buy some products here.</h2>
    }
</div>